<div id="tagcloud">
        <ul>
            <%= render @tags %>
            
        </ul>
</div>

    <style>
            /* Mother effin brute force CSS reset... */
            /* Always include after any other CSS */
        * {
            resize: none;
            border: none;
            outline: none;
            text-decoration: none;
            padding: 0px;
            margin: 0px;
            list-style-type: none;
        }
    </style>

<script type="text/javascript">
    jQuery(document).ready(function(){
        $('#tagcloud').tagoSphere(settings);
    });

</script>