/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*
 @import "froala_editor.min";
 @import "froala_style.min";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 */

#accordion{
  width: 30%;
}

#box{
  float:right;
  padding: 5px;
  margin: 5px;
  width: 69%;
}




/*span.categories_in_span {
    margin: 5px;
    padding: 3px;
    background-color: #33b5e5;
    border-radius: 20px;
    font-size: 12px;
}*/

.panel-body {padding: 10px !important;}

.breadcrumbs a{color:white; }
.breadcrumbs, span.categories_in_span {
    margin-left:5px;
    border-radius: 20px;
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #33b5e5 !important;
    color: #fff!important;
    text-decoration: none;
    float: left;
    color: white;
}


 li {
    list-style-type: none; /* no more dots */
   }
   ul {
    margin-left: 0; /* distance left for IE and Opera */
    padding-left: 0; /* distance left in Firefox, Safari, Chrome */
   }

#all_posts_with_tag, #all_posts_with_tag > div > div.froala-editor > p{
    
}

/*for not registred*/
.not-authorized{
    width: 100%;
    height: 50%;
    text-align: center;
    border-color: silver;
    border-style: outset;
    font-size: 2em !important;
    color: silver;
    font-weight: 750 !important;
}



/* all tags in cloud*/
#myCanva2sContainer > #myCanva2s > .tags > a{
    background-color: lime;
    color: white !important;
    font-size: 20px !important;
} 

/*tags will be:*/
.tags{
    margin: 2px;

}

.tags a, h1 > .tags{
	border-radius: 20px;
    margin: 5px;
	display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #33b5e5 !important;
    color: #fff!important;
    text-decoration: none;
}

/*/ 25 07 18 14 43
added and renamed to .scss file because we use sass
"bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/
@import "bootstrap-sprockets";
@import "bootstrap";

/*input{
	color: #2dbe60;
}*/

h3.credo{
	color:silver
}

.glyphicon glyphicon-heart-empty{color:pink}
/*all text good*/

p {
  font-size: 140% !important;
  font-weight: 100 !important;
    padding-top: 5px;
    margin-top: 10px;
    line-height: 30px;
}

a:hover {
	color: white !important;
}