// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.titles, .inputtitle, .textarea{ 
	padding: 20px;
	margin: 5px;
	border-radius:5px;
}

.titles {width: 200px;}
.inputtitle{width: 800px;}
.textarea{width: 800px; height:500px;}

.jumbotron_posts_show{
	background-color: #eeeeee;

	padding-left: 30px ;
    padding-right: 30px ;
    width: 40% ;
    height: 450px ; 
    float: left;
    margin-left: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.first-btn-link{
	float:left;
	clear:both;
}
.posts_list_content{
	height: 150px;
	display: inline-block;
}

.single_post_title, .single_post_title:hover , .single_post_content, .single_post_content:hover{
	background-color: #eee !important;
	color: black !important;

}
.single_post_title{
    font-size: 200%;
}
a.list-item, a.list-item:hover, .post_title:hover{
	background-color: #eee !important;	
	color: black !important;
}
button {
	color: #000 !important;
	background-color: #eee !important 
}
